.background {
  box-sizing: border-box;
  /* background-color: #f9d7d5; */
  background-image: linear-gradient(to bottom, #f9d7d5, #a1cad0);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.topic {
  font-family: "Mali";
  font-size: 7vh;
  text-align: center;
  font-weight: 600;
  margin-top: 12vh;
  margin-bottom: 5vh;
}

.form {
  background-color: white;
  box-sizing: border-box;
  width: 77vw;
  height: auto;
  border-radius: 20px;
}
