.background {
  /* background-color: #f9d7d5; */
  background-image: linear-gradient(to bottom left, #a1cad0, #f9d7d5);
  width: 100%;
  height: 100vh;
}
.cardfield {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}
