.background {
  box-sizing: border-box;
  width: 20vw;
  padding: 15px;
  height: 30vh;
}

.button {
  /* background-color: #d7ddc1; */
  background-image: linear-gradient(to bottom right, #fbece5, #d7ddc1);
  width: 100%;
  height: 100%;
  border-radius: 10px;
}

.button:hover {
  background-image: linear-gradient(to bottom right, #d7ddc1, #dad583);
}

.title {
  font-family: "Mali";
  font-size: 4vh;
}
